@media screen and (min-width: 451px) {
  #tb-showcase {
    .tb-showcase-content {
      h1 {
        font-size: 5rem;
        margin: 0;
        margin-bottom: 0.2rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
  .tb-title {
    h3 {
      font-size: 1.5rem;
    }
  }
}
