@import 'colors';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

nav {
  background: $primary-color;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.tb-title {
  color: $secondary-color;
}

#category {
  margin-top: 0;
  padding-top: 0;
  .tb-card {
    display: flex;
    .tb-card-img {
      flex: 1;
      display: block;
      width: 30%;
      margin: auto;
    }
    .tb-card-content {
      flex: 2;
    }
  }
}
