@import 'colors';
#tb-showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  color: #ffffff;
  .tb-showcase-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #3a4052 url('../img/barbecue-bbq-beef-brown-236887.jpg')
      no-repeat center center/cover;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000000;
      opacity: 0.7;
    }
    img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .tb-showcase-content {
    z-index: 10;
    h1 {
      color: $primary-color;
      font-size: 2.8rem;
      margin: 0;
      margin-bottom: 0.2rem;
    }
  }
  .tb-btn {
    color: $white;
    background: $primary-color;
    &:hover {
      background: $secondary-color;
    }
  }
}

.tb-btn {
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background: $primary-color;
  border-radius: 5px;
  margin-top: 25px;
  border: none;
  cursor: pointer;
}

.tb-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.tb-card {
  cursor: pointer;
  padding: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5) !important;
  margin-bottom: 20px !important;
  &:hover {
    padding: 10px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5) !important;
  }
  .tb-card-img {
    display: block;
    width: 100%;
  }
  .tb-card-title {
    h4 {
      font-size: 1.5rem;
      margin: 10px 0 10px 0;
    }
  }
  .tb-card-content {
    p {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 10px 0 10px 0;
    }
  }
  .tb-btn {
    color: $white;
    background: $primary-color;
    &:hover {
      background: $secondary-color;
    }
  }
}

.tb-text-center {
  text-align: center;
}

.tb-space {
  margin: 1rem 0;
}
